<!DOCTYPE html>
<html lang="en" class="{{ html_classes | default('') }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Document</title>
        
        {% stack stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ "@crate/backend/css/crate-backend.min.css" | asset }}" />
        {% endstack %}

        {% stack javascripts %}
            <script type="module" src="{{ "@crate/backend/js/crate-backend.min.js" | asset }}"></script>
        {% endstack %}
    </head>
    <body class="{{ body_classes | default('') }}">
        {% stack js_top empty %}
        
        {% block document %}
            {% block content %}{% endblock %}
        {% endblock %}
        
        {% stack js_bottom empty %}
    </body>
</html>