{% extends '@layouts/admin' %}

{% block content %}

    <div class="my-8">
        <div class="">
            <input type="text" placeholder="Search..." class="field" />
        </div>
    </div>

    <div class="my-5 flex flex-wrap gap-8 justify-center">
        <div class="panel basis-80">
            <article>
                <div class="text-center font-semibold text-lg">Collection Name</div>
                <div class="my-6 text-center text-indigo-600 flex justify-center items-center">
                    {{ icon('collection', 64) }}
                </div>
            </article>
        </div>
        
        <div class="panel basis-80">
            <article>
                <div class="text-center font-semibold text-lg">Collection Name</div>
                <div class="my-6 text-center text-indigo-600 flex justify-center items-center">
                    {{ icon('collection', 64) }}
                </div>
            </article>
        </div>
    </div>

{% endblock %}
